$primary:       #fca311;
$secondary:     #14213d;

@import "../node_modules/bootstrap/scss/bootstrap";

.contenedor {
    height: 200px;
    width: 210px;
    position: absolute;
    top: 30%;
    left: 56%;
}

.texto-centrado {
    text-align: center;
}

.boton-centrado {
    display: flex;
    justify-content: center;
}
.boton-centrado button {
    margin-right: 5px;
}

.borde-redondo {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

/* TABLET O MOVIL HORIZONTAL*/
@media (min-width: 768px){
    .contenedor {
        height: 300px;
        width: 540px;
        position: absolute;
        top: 40%;
        left: 30%;
    }
    .boton-centrado {
        display:flex;
        justify-content: flex-start;
        margin-left: 30px;
    }
    .texto-centrado {
        text-align: left;
        margin-left: 30px;
    }
}

/* ORDENADOR O TABLET HORIZONTAL */
@media (min-width: 1024px){
    .contenedor {
        height: 300px;
        width: 505px;
        position: absolute;
        top: 35%;
        left: 65%;
    }
    .boton-centrado {
        display:flex;
        justify-content: flex-start;
        margin-left: 30px;
    }
    .texto-centrado {
        text-align: left;
        margin-left: 30px;
    }
}
